body{
    margin-left: 20px;
}
.chat{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

.msg{
    background-color: rgb(58, 10, 233);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}